<ion-view view-title="Home" name="home-view">
  <ion-content class="padding">
      <div>
		  <img ng-src="img/8192772_orig.jpg" /> 
	  </div>
	  <div>
		  <img ng-src="img/15640871901_1371b35686.jpg"/> 
	  </div>
	  <div>
		  <img ng-src="img/bichanakandi.jpg"/> 
	  </div>
	  <div>
		  <img ng-src="img/Lala-Khal-2.jpg" style="margin-bottom:40px;" /> 
	  </div>
      <div style=" position:relative; padding-top:20px; margin-top:40px; !important">
      <button class="button button-block button-positive" style="margin-top:100px;margin-bottom:40px;" ng-click="view()">View Tourist Places</button>
	  <button class="button button-block button-calm" style="margin-bottom:40px;" ng-click="story()"> Share your experiences</button>
      <button class="button button-block button-positive" ng-click="adds()">Want to go somewhere now? See Offers</button>
	  
	  </div>
  </ion-content>
</ion-view>
<style>
	  img {
	     float: left;
		 width: 177px;
		 height: 120px;
	  }
</style>